/* Write your CSS here */
.latest-match-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}
.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.second-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.competing-team-logo {
  height: 100px;
}
.third-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
